/* src/pages/Reservation.css */
.reservation-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: var(--grey-color);
    margin-top: 60px;

  }
  
  .reservation-card {
    width: 100%;
    max-width: 500px;
    padding: 2rem;
    border-radius: 8px;
  }
  
  .reservation-title {
    text-align: center;
    margin-bottom: 2rem;
    color: var(--primary-color);
  }
  
  .reservation-form-button.ant-btn-primary {
    width: 100%;
    background-color: var(--primary-color) !important;
    border: none !important;
    color: white !important;
    transition: background-color 0.3s ease !important;
  }
  
  .reservation-form-button.ant-btn-primary:hover {
    background-color: var(--secondary-color) !important;
    color: var(--primary-color) !important;
  }
  .form-input {
    border-color: aqua !important;
  }
 