/* App.css */
:root {
  --primary-color: #495E57;
  --secondary-color: #F4CE14;
  --grey-color: #E3E3E3;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: white;
}

.full-width-background {
  width: 100%;
  background-color: var(--primary-color);
}

.container {
  max-width: 1024px;
  margin: 0 auto;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  position: fixed;
  width: 100%;
  top: 0;
  transition: top 0.3s;
  z-index: 1000;
}

.navbar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar.hidden {
  top: -60px;
}



.main-content {
  padding-top: 50px;
}

.introduction {
  padding: 2rem;
  text-align: center;
}

.specials-section,
.menu-section,
.reservation-section,
.about-section,
.login-section {
  padding: 2rem;
}

.dish-card {
  border: 1px solid var(--grey-color);
  border-radius: 5px;
  padding: 1rem;
  margin: 1rem;
  text-align: center;
}
.mainSection {
  display: flex;
  flex-direction: column;
}
.text-yellow{
  color: var(--secondaryColor);
}
.text-white{
  color: white;
}
.text-green {
  color: var(--primaryColor);
}
